<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mylhyl.acp3">

    <application>
        <activity
            android:name=".AcpActivity"
            android:launchMode="singleTask"
            android:theme="@style/Acp.Theme.Transparent"/>
    </application>

</manifest>
